/* ********* */
/* PAGES COMMUNES */

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

#page{
    margin: 0 auto;
    width: 100%;
    min-height: 33000px;
    /*
    background:url(../img/---.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    */
}

.pixels{
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 2;
}

#top{
    text-align: center;
    z-index: 2;
    position: relative;
    top: 10px;
}

footer{
    position: fixed;
    bottom: 5px;
    right: 50px;
    font-size: 10px;
    z-index: 2;	
}
.gototop{
    position: fixed;
    bottom: 5px;
    right: 30px;
    font-size: 14px;
    z-index: 2;
}

a.gototop{
	text-decoration: none;
	color: #434343;
}

/* SYSTEME DE FILTRE */
#caracteristiques{
    position: fixed;
    top: 30px;
    width: 130px;
    right: 10px;
    z-index: 2;
}

#caracteristiques li{
    border-bottom: 1px solid #e3e3e3;
    color: #343434;
    font-size: 14px;
    padding-bottom: 2px;
    padding-top: 2px;
    cursor: pointer;
}

/* TOOLTIP */
div.tooltip {
	outline:none; 
} 

div.tooltip strong {
	line-height:30px;
} 

div.tooltip:hover {
	text-decoration:none;
} 

div.tooltip span { 
	z-index:10;
	display:none;
	padding:14px 20px;
	margin-top:-30px;
	margin-left:28px;
	width:300px;
	line-height:16px;
} 

div.tooltip:hover span{
	display:inline;
	position:absolute;
	color:#111;
	border:1px solid #DCA;
	background:#fffAF0;
}

.callout {
	z-index:20;
	position:absolute;
	top:30px;
	border:0;
	left:-12px;
}

div.tooltip span {
	border-radius:4px;
	box-shadow: 5px 5px 8px #CCC;
}

/* PHOBIES */
#all-phobies{
	font-weight: bold;	
}

#liste-phobies{
	display: inline-block;
	margin-left: 60px;	
	position: relative;
	z-index: 2;
}

#liste-phobies > div{
    height: 20px;
    cursor: pointer;
}

/* UNIVERS */
.paradis{
	position: absolute;
	top: 0;
	background:url("../img/01-paradis.jpg") no-repeat #E3FEFF;
	height: 3667px;	
	z-index: 1;
	width: 100%;
	background-position: 50%;
}

.neige{
	position: absolute;
	top: 3666px;
	background:url("../img/02-neige.jpg") no-repeat #E3FEFF;
	height: 3667px;	
	z-index: 1;
	width: 100%;
	background-position: 50%;
}

.verdure{
	position: absolute;
	top: 7332px;
	background:url("../img/03-verdure.jpg") no-repeat #E3FEFF;
	height: 3668px;	
	z-index: 1;
	width: 100%;
	background-position: 50%;
}

.automne{
	position: absolute;
	top: 10998px;
	background-color: #dfb06c;
	height: 3666px;	
	z-index: 1;
	width: 100%;
	opacity: 0.5;		
}

.desert{
	position: absolute;
	top: 14664px;
	background-color: #d6c99a;
	height: 3666px;	
	z-index: 1;
	width: 100%;
	opacity: 0.5;		
}

.crepuscule{
	position: absolute;
	top: 18330px;
	background:url("../img/06-crepuscule.png") no-repeat #69284B;
	height: 3666px;	
	z-index: 1;
	width: 100%;
	background-position: 50%;
}

.gris{
	position: absolute;
	top: 21996px;
	background-color: #979797;
	height: 3666px;	
	z-index: 1;
	width: 100%;
	opacity: 0.5;	
}

.roche{
	position: absolute;
	top: 25662px;
	background-color: #9e9383;
	height: 3666px;	
	z-index: 1;
	width: 100%;
	opacity: 0.5;	
}

.enfer{
	position: absolute;
	top: 29328px;
	background-color: #373636;
	height: 3672px;	
	z-index: 1;
	width: 100%;
	opacity: 0.5;	
}